<section class="text-xl flex flex-col md:flex-row  gap-x-8 justify-center text-pretty items-center">
    <div class="text-pretty [&>p]:mb-4 [&>p>strong]:text-yellow-500 [&>p>strong]:font-semibold order-2 md:order-1">

        <p>

            Me encanta aprender nuevas tecnologías y aplicarlas en proyectos que combinen creatividad y funcionalidad. Actualmente, estoy explorando herramientas como <strong>HTML, CSS, JavaScript, React, Astro, .NET y bases de datos MySQL</strong>. Disfruto resolver problemas de manera creativa, aprender de la comunidad tech y buscar inspiración para desarrollar soluciones innovadoras que marquen la diferencia.

        </p>

        <p>

            Apasionado por el aprendizaje constante: "Soy un entusiasta del desarrollo de software, siempre buscando mejorar mis habilidades y aprender nuevas tecnologías. Aunque aún no tengo experiencia profesional, he dedicado mucho tiempo a aprender a programar de manera autodidacta y estoy listo para enfrentar desafíos reales."
        </p>
    </div>
    <img class="rounded-full size-64 order-1 md:order-2" src="ImageProjects/foto.jpg" />

</section>